body{
    background-color: #303030;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
}
#conteiner{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.rectangle{
    width: 960px;
    margin: 20px;
    text-align: center;
}
.square{
    width: 50%;
    float: left;
}
#logo{
    float: left;
    font-size: 70px;
    width: 600px;
    text-align: left;
}
#zegar{
    float: left;
    font-size: 70px;
    text-align: left;
}
.kafelek1{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
}
.kafelek1:hover{
    background-color: #2084c2;
}
.kafelek2{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
    text-align: center;
}
.kafelek2:hover{
    background-color: #555555;
}
.kafelek3{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
}
.kafelek3:hover{
    background-color: #82b637;
}
.kafelek4{
    margin: 10px;
    width: 420px;
    height: 82px;
    background-color: #ee5a32;
    text-align: center;
    font-size: 25px;
    padding: 30px;
}
.kafelek4:hover{
    background-color: #dd4a21;
}
.kafelek5{
    margin: 10px;
    width: 480px;
    height: 304px;
    background-color: #666666;
    text-align: center;
}
.kafelek5:hover{
    background-color: #555555;
}
.yt{
    margin: 10px;
    width: 105px;
    height: 142px;
    background:#9e9e9e;
    float: left;
}
.yt:hover{
    transition: all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    border-radius:50%;
    background:#b94348;
}
.fb{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #9e9e9e;
    float: left;
}
.fb:hover{
    transition: all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    border-radius:50%;
    color:#fff;
    background:#3b5998;
}
.gplus{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #9e9e9e;
    float: left;
}
.gplus:hover{
    transition: all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    border-radius:50%;
    background: #d34836;
}
.tw{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #9e9e9e;
    float: left;
}
.tw:hover{
    transition: all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    border-radius:50%;
    background:#00aced;
}