body{
    background-color: #303030;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
}
#conteiner{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.rectangle{
    width: 960px;
    margin: 20px;
    text-align: center;
}
.square{
    width: 50%;
    float: left;
}
#logo{
    float: left;
    font-size: 70px;
    width: 600px;
    text-align: left;
}
#zegar{
    float: left;
    font-size: 70px;
    text-align: left;
}
.kafelek1{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
}
.kafelek2{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
}
.kafelek3{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
}
.kafelek4{
    margin: 10px;
    width: 480px;
    height: 142px;
    background-color: #ee5a32;
}
.kafelek5{
    margin: 10px;
    width: 480px;
    height: 304px;
    background-color: #666666;
}
.yt{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #b94348;
    float: left;
}
.fb{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #4668b3;
    float: left;
}
.gplus{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d95333;
    float: left;
}
.tw{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #3095d3;
    float: left;
}